@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}

* {
    text-align: center;
    font-family: Roboto;
}

/*banner*/
.banner {
    background-color: blue;
    background-image: url('../images/banner.png');
    box-shadow: inset 0 0 500px 100px black
}
.banner-content {
    padding: 5% 0;
}
#logo {
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 20px 20px 20px 2px black;
}
.banner-content h1 {
    color: blue;
    margin-top: 20px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}
.banner-content p {
    color: white;
    margin: 10px 0;
    font-size: 20px;
}

 /*main*/
 #course-content {
    background-color: black;
 }
 #course-content p{
    color: white;
 }
 #transform-world {
    width: auto;
    height: 400px;
    background-image: url('../images/woman-code.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 }
 #transform-world p {
    text-align: left;
 }
 #professional-challenges {
    background-color: black;
 }

 /*footer*/
 footer {
    background-color: black;
 }