* {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

/*banner*/
.banner {
    background-color: blue;
    background-image: url('../images/banner.png');
    box-shadow: inset 0 0 500px 100px black;
    font-family: 'Roboto';
}
.banner-content {
    padding: 5% 0;
}
#logo {
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 20px 20px 20px 2px black;
}
.banner-content h1 {
    color: #33A8DB;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 0px 2px 2px aqua;
}
.banner-content p {
    color: white;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 300;
}

 /*main*/
 #course-content {
    background-color: black;
 }
 #course-content h2 {
    color: #33A8DB;
 }
 #course-content p{
    color: white;
 }
 .module span{
    color: #33A8DB;
 }
 .module {
    color: #F8F8F8;
 }
 #transform-world {
    width: auto;
    height: 400px;
    background-image: url('../images/woman-code.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 }
 #transform-world p {
    color: #F8F8F8;
    text-align: left;
    font-weight: 900;
 }
 #professional-challenges {
    background-color: black;
 }

 /*footer*/
 footer {
    background-color: black;
 }
 footer p {
    color: #F8F8F8;
    font-family: 'Roboto';
 }
 footer p a{
    color: #33A8DB;
    text-decoration: none;
 }